<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>Data Structure</title>
    <link rel="icon" href="/public/image/dsds.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap排版套件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- 動畫 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="body">
    <!--bootstrap js套件-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
    
    <div class="nav-bar">
        <img id=logo src="/image/dsds.png" alt="logo">
        <span>Data Structure Display System</span>
    </div>
    <div class="side_bar">
        <span>Homework</span>
        <div class="buttons" id="buttons"></div>
    </div>
    
    <script>
        var encodedJson = "<%= data %>";
    </script>

    <script src="/js/script.js"></script>

</body>

</html>