h1 {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("/image/bg2.jpg");
    color: white;
    font-size: 38px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

body {
    background-image: url("/image/bg3.jpg");
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;

}

.input_file {
    position: absolute;
    height: 75%;
    width: 13%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    color: white;
    font-family: din-round, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 15%;
    left: 2%;
    padding-top: 2vh;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    /* 新增此行來添加滾輪 */
    border-radius: 10px;
}

#terminal {
    z-index: 0;
    width: 100%;
    max-width: 800px;
    /* 最大寬度，確保在大屏幕上不會過寬 */
    height: 400px;
    /* 固定高度，或根據需要調整 */
    padding-top: 20px;
}

/* 滾動條軌道 */
::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0);
}

/* 滾動條本身 */
::-webkit-scrollbar {
  width: 5px; / 滾動條的寬度 /
}

/* 滾動條上的滑塊 */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px; / 使滑塊的角變圓 /
}

/* 當滑過滑塊時的顏色變化 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.output_file {
    position: fixed;
    height: 75%;
    width: 13%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: din-round, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 15%;
    right: 2%;
    padding-top: 2vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    /* 新增此行來添加滾輪 */
    border-radius: 10px;
}

@media (max-width: 600px) {
    #terminal {
        height: 300px;
        /* 小屏幕上調整終端的高度 */
    }
}

.testing {
    width: auto;
    position: fixed;
    bottom: 5%;
    cursor: pointer;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  margin: 3px;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 130px;
  max-width: 130px;
  overflow: hidden;  /* overflow 屬性來處理超出最大寬度的文字 */
  text-overflow: ellipsis; /* 超出最大寬度時，會使用省略號（...）來表示超出的部分 */
  white-space: nowrap; /* 確保文字在一行內顯示，而不會換行 */
}


.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-19 {
    display: none;
}

.file_preview {
    width: 100px;
    height: 100px;
}

.card {
    position: fixed;
    top: 14%;
    height: 80vh;
    width: 60vw;
    transition: background-color 0.3s, transform 0.3s, filter 0.3s;
    z-index: 1000;
    overflow-y: hidden;
}

.card-body {
    height: 94.5%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}


.btn-close {
    position: absolute;
    top: 1%;
    right: 1%;
}

.file{
    padding-top: 1.5vh;
    transition: background-color 0.3s, transform 0.3s, filter 0.3s;
    z-index: 10;
    justify-content: left;
    align-items: center;
    font-weight: bold;
}

#previewfile {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#discription{
    font-size: 20px;
    font-weight: bold;
}

.download {
    position: fixed;
    scale: 20%;
    top: 30vh;
    cursor: pointer;
    opacity: 0; 

    transition: opacity 0.5s ease-in-out;
}

.download.show {
    display: block; /* 顯示元素 */
    opacity: 1; /* 元素完全可見 */
}

.download.hide {
    opacity: 0; /* 元素不可見 */
    transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out 0.5s; /* 使用 display 屬性延遲隱藏 */
}

.download.hide {
    display: none; /* 完全隱藏元素 */
}


#download_word{
    font-size: 10vh;
    cursor: pointer;
}

.download:hover {
    scale: 0.205;
}

#buttonContainer{
    height: 68%;
    overflow-y: auto;
}